<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>会员中心</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Disposition" content="attachment;">
<script src="__ROOT__/public/js/hm.js"></script><script src="__ROOT__/public/js/hm.js"></script><script src="__ROOT__/public/js/compatible.js"></script>
<link href="__ROOT__/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="__ROOT__/public/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__ROOT__/public/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="__ROOT__/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<!--site header common-->

<link rel="stylesheet" href="__ROOT__/public/css/theme.css">
<link rel="stylesheet" href="__ROOT__/public/css/public.css">
<link rel="stylesheet" href="__ROOT__/public/css/member.css">
<link rel="stylesheet" href="__ROOT__/public/css/aftersales.css">
<link rel="stylesheet" href="__ROOT__/public/css/fenye.css">
<link rel="stylesheet" href="__ROOT__/public/css/bootstrap-datetimepicker.min.css">
<script src="__ROOT__/public/js/bootstrap-datetimepicker.js"></script>
<script src="__ROOT__/public/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="__ROOT__/public/js/jquery.form.js"></script>
<script src="__ROOT__/public/js/jquery.fenye.js"></script>
<script src="__ROOT__/public/js/public.js"></script>
<script src="__ROOT__/public/js/clipboard.min.js"></script>
</head>
<body class="member-body">
	
	<include file="Public:header"/>





<script type="text/javascript">
    $(document).ready(function(){
        $('.all-categories').add('.all-categories-detail').on({
            mouseover:function(){
                $('.all-categories-detail').show();
            },
            mouseout:function(){
                $('.all-categories-detail').hide();
            }
        });
        $('.fenlei-two li:nth-child(6n+1)').find('.goods-img').css('border-left','none');
    });
</script>
<script>
    $(function(){
        $(".is-login").hover(function() {
            $(".dropdown-menu").css('display', 'inline-block');
        }, function() {
            $(".dropdown-menu").css('display', 'none');
        });
    })
</script>

<div class="container main-container">
	<div class="w1230">
    	<div class="my-main">
  <ol class="breadcrumb">
    <li><a href="https://www.myzte.com/index.html">首页</a></li>
    <li><a href="https://www.myzte.com/my.html">个人中心</a></li>
    <li class="active">我的个人中心</li>
  </ol>
  <div class="row">
      <div class="col-xs-2 my-sidenav">
          <dl class="my-menu">
                                  <dt>
                        订单中心                    </dt>
                    <dd>
                        <ul class="nav nav-pills nav-stacked">
                                                           <li data-myaction="orders" class="mm-site_member-orders">
                                   <a href="https://www.myzte.com/my-orders.html">
                                                                      <span>我的订单</span>
                                   </a>
                               </li>
                                                           <li data-myaction="showOrders" class="mm-site_member-showOrders">
                                   <a href="https://www.myzte.com/my-showOrders-s4.html">
                                                                      <span>评价晒单</span>
                                   </a>
                               </li>
                                                           <li data-myaction="index" class="mm-site_member-index">
                                   <a href="https://www.myzte.com/recycling.html">
                                                                      <span>我的回收单</span>
                                   </a>
                               </li>
                                                           <li data-myaction="index" class="mm-site_member-index">
                                   <a href="https://www.myzte.com/vaservices.html">
                                                                      <span>我的增值服务</span>
                                   </a>
                               </li>
                                                           <li data-myaction="index" class="mm-site_member-index">
                                   <a href="https://www.myzte.com/mysale.html">
                                                                      <span>我的预约</span>
                                   </a>
                               </li>
                                                    </ul>
                    </dd>
                                  <dt>
                        个人中心                    </dt>
                    <dd>
                        <ul class="nav nav-pills nav-stacked">
                                                           <li data-myaction="index" class="mm-site_member-index">
                                   <a href="https://www.myzte.com/my.html">
                                                                      <span>我的个人中心</span>
                                   </a>
                               </li>
                                                           <li data-myaction="favorite" class="mm-site_member-favorite">
                                   <a href="https://www.myzte.com/my-favorite.html">
                                                                      <span>喜欢的商品</span>
                                   </a>
                               </li>
                                                           <li data-myaction="coupon" class="mm-site_member-coupon">
                                   <a href="https://www.myzte.com/my-coupon.html">
                                                                      <span>优惠劵</span>
                                   </a>
                               </li>
                                                           <li data-myaction="exchange_coupon" class="mm-site_exchange-exchange_coupon">
                                   <a target="_blank" href="https://www.myzte.com/integralexchange-exchange_coupon.html">
                                                                      <span>积分兑换优惠券</span>
                                   </a>
                               </li>
                                                           <li data-myaction="receiver" class="mm-site_member-receiver">
                                   <a href="https://www.myzte.com/my-receiver.html">
                                                                      <span>收货地址</span>
                                   </a>
                               </li>
                                                           <li data-myaction="consult" class="mm-site_member-consult">
                                   <a href="https://www.myzte.com/my-consult.html">
                                                                      <span>我的咨询</span>
                                   </a>
                               </li>
                                                           <li data-myaction="message" class="mm-site_member-message">
                                   <a href="https://www.myzte.com/my-message.html">
                                                                      <span>消息通知</span>
                                   </a>
                               </li>
                                                    </ul>
                    </dd>
                                  <dt>
                        售后                    </dt>
                    <dd>
                        <ul class="nav nav-pills nav-stacked">
                                                           <li data-myaction="newrequest" class="mm-site_member-newrequest">
                                   <a href="https://www.myzte.com/aftersales-newrequest.html">
                                                                      <span>售后申请</span>
                                   </a>
                               </li>
                                                           <li data-myaction="request" class="mm-site_member-request">
                                   <a href="https://www.myzte.com/aftersales-request.html">
                                                                      <span>处理列表</span>
                                   </a>
                               </li>
                                                    </ul>
                    </dd>
                                  <dt>
                        账户管理                    </dt>
                    <dd>
                        <ul class="nav nav-pills nav-stacked">
                                                           <li data-myaction="setting" class="mm-site_member-setting">
                                   <a href="https://www.myzte.com/my-setting.html">
                                                                      <span>个人信息</span>
                                   </a>
                               </li>
                                                           <li data-myaction="securitycenter" class="mm-site_member-securitycenter">
                                   <a href="https://www.myzte.com/my-securitycenter.html">
                                                                      <span>安全中心</span>
                                   </a>
                               </li>
                                                    </ul>
                    </dd>
                                  <dt>
                        预存款                    </dt>
                    <dd>
                        <ul class="nav nav-pills nav-stacked">
                                                           <li data-myaction="index" class="mm-site_member-index">
                                   <a href="https://www.myzte.com/ubalance.html">
                                                                      <span>我的账户</span>
                                   </a>
                               </li>
                                                    </ul>
                    </dd>
                                  <dt>
                        增票资质                    </dt>
                    <dd>
                        <ul class="nav nav-pills nav-stacked">
                                                           <li data-myaction="index" class="mm-site_member-index">
                                   <a href="https://www.myzte.com/invoice.html">
                                                                      <span>增票资质</span>
                                   </a>
                               </li>
                                                    </ul>
                    </dd>
                        </dl>
      </div>
      <div class="col-xs-10 my-page" style="min-height: 1040px;">
          <div class="alert mcenter-header">
    <div class="m-baseinfo row">
        <div class="col-xs-1 head-img">
            <a href="https://www.myzte.com/my-avatar.html">
                <img width="50" height="50" class="img-circle" src="__ROOT__/public/images/100" alt="qq_21327头像">
            </a>
        </div>
        <div class="col-xs-6 info-other">
            <ul class="list-inline pull-left">
                <li>
                    <h4>
                        <a class="info-username" href="https://www.myzte.com/my-setting.html">qq_21327</a>
                        <span class="btn-group">
                                                        <a class="btn btn-xs btn-default hide" href="https://www.myzte.com/my-set_pam_uname.html">设置昵称</a>
                                                    </span>
                    </h4>
                </li>
                <li><span class="label label-warning">注册会员</span></li>
                <li class="edit-info"><button class="btn btn-link" onclick="update()">修改个人信息 &gt;</button></li>

            </ul>
				<script>
					function update(){
						window.alert("<div style='width:20px;height:10px;background:#666'><p>哇哇</p></div>");
					}
				</script>
            <ul class="list-inline pull-right">
                                <li class="hide">账户余额<p><span class="text-danger">0</span>元</p></li>
                                <li>
                    <a href="https://www.myzte.com/my-integral.html">
                    积分<p>0</p>
                    </a>
                </li>
                                <li class="border-none">经验值<p>0</p></li>
                                <!--                     <li>预存款：
                        <a href="/ubalance.html">
                            0                        </a>
                    </li>
                 -->
            </ul>
        </div>
        <!--  -->
    </div>
</div>
<div class="row m-os-count">
    <h5>我的订单</h5>
    <!-- <div class="col-xs-4 col-1">
        <a href="/my-orders.html" class="btn  btn-block btn-link">全部订单</a>
    </div> -->
    <div class="col-xs-2 col-2">
        <a href="https://www.myzte.com/my-orders-s1.html" class="btn  btn-block btn-link">
            待付款
                    </a>
    </div>
    <div class="col-xs-2 col-3">
        <a href="https://www.myzte.com/my-orders-s2.html" class="btn  btn-block btn-link">待发货
                    </a>
    </div>
    <div class="col-xs-2 col-4">
        <a href="https://www.myzte.com/my-orders-s3.html" class="btn  btn-block btn-link">待收货
                    </a>
    </div>
    <div class="col-xs-2 col-5">
        <a href="https://www.myzte.com/my-showCancel-s4.html" class="btn btn-large btn-block btn-link">已关闭
                    </a>
    </div>
</div>

<div class="panel panel-default gv-history">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">最近浏览商品</h3>
    </div>
  <div class="panel-body">
      <div class="glist-container">
          <div class="row goods-list gl-default">
                                  <div class="col-xs-3 fav-item contentlist">
                        <div class="goods-item">
                            <div class="gi-image-wrapper">
                                <a href="https://www.myzte.com/v8.html">
                                    <img src="__ROOT__/public/images/20bc054eacec.jpg" alt="ZTE中兴 Blade V8 绝代双“焦”-仿生双摄+3D拍照">
                                </a>
                            </div>
                            <div class="caption">
                                <h3 class="g-name"><a href="https://www.myzte.com/v8.html">ZTE中兴 Blade V8 绝代双“焦”-仿生双摄+3D拍照</a></h3>
                                <ul class="list-inline">
                                    <li class="price-1 text-danger"><small>￥</small>1499.0</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                  <div class="col-xs-3 fav-item contentlist">
                        <div class="goods-item">
                            <div class="gi-image-wrapper">
                                <a href="https://www.myzte.com/6902176008580.html">
                                    <img src="__ROOT__/public/images/d3f465b4d2e1.jpg" alt="ZTE中兴 天机7 MAX(全网通)">
                                </a>
                            </div>
                            <div class="caption">
                                <h3 class="g-name"><a href="https://www.myzte.com/6902176008580.html">ZTE中兴 天机7 MAX(全网通)</a></h3>
                                <ul class="list-inline">
                                    <li class="price-1 text-danger"><small>￥</small>3299.0</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                  <div class="col-xs-3 fav-item contentlist">
                        <div class="goods-item">
                            <div class="gi-image-wrapper">
                                <a href="https://www.myzte.com/6934933095359.html">
                                    <img src="__ROOT__/public/images/df0b6d4c6f25.jpg" alt="ZTE中兴 Spro 2 智能微投 小有所投，大于所想">
                                </a>
                            </div>
                            <div class="caption">
                                <h3 class="g-name"><a href="https://www.myzte.com/6934933095359.html">ZTE中兴 Spro 2 智能微投 小有所投，大于所想</a></h3>
                                <ul class="list-inline">
                                    <li class="price-1 text-danger"><small>￥</small>3699.0</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        </div>
      </div>
  </div>
</div>

<div class="fenye-outer">
    <div id="historydiv" class="clearfix"><div id="pagefirst" class="pagefirst"><a href="javascript:void(0)">首页</a></div><div id="pagepre" class="pagepre"><a href="javascript:void(0)">上一页</a></div><div class="pagenavigate pagenavigateon" style="display: block;"><a href="javascript:void(0)">1</a></div><div id="pagenext" class="pagenext" style="display: none;"><a href="javascript:void(0)">下一页</a></div><div id="pagelast" class="pagelast" style="display: none;"><a href="javascript:void(0)">尾页</a></div></div>
</div>


      </div>
  </div>
</div>

</div>
</div>

<div class="toolbar">
  
   <a href="https://www.myzte.com/my.html###" class="toolbar-item toolbar-item-weixin">

   <span class="toolbar-layer"></span>
   </a>
   <a href="http://v1.live800.com/live800/chatClient/chatbox.jsp?companyID=437521&amp;configID=41175&amp;jid=9108176411" class="toolbar-item toolbar-item-feedback" target="_Blank"> 
    </a>
   <a href="javascript:scroll(0,0)" id="top" class="toolbar-item toolbar-item-top"></a>
</div>
      
    

<include file="Public:footer"/>



</body>
</html>