<!DOCTYPE html>

<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>ZTE中兴 天机7 A2017(全网通)_斯坦灰/全网通/4GB+64GB_ZTE中兴</title>
<meta name="keywords" content="ZTE中兴,中兴天机7,中兴官方商城,中兴官网,天机 A2017,,">
<meta name="Description" content="5.5英寸2K屏，骁龙820，HiFi双芯片+双音腔+立体环绕，荣获IFA“音效突破智能手机”奖！">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<include file="Public:header"/>





<div class="container main-container">
    <!--兼容版商品详情-->
<div class="product-container" id="compatible_version">
    <div class="bread">
        <ol class="breadcrumb">
            <li><a href="https://www.myzte.com/index.html">首页</a></li>
                                <li><a href="https://www.myzte.com/list.html?cat_id=1">手机</a></li>
                                        <li><a href="https://www.myzte.com/list.html?cat_id=96">天机系列</a></li>
                                        <li class="active">ZTE中兴 天机7 A2017(全网通)&nbsp;斯坦灰/全网通/4GB+64GB</li>
                            </ol>
    </div>
    <div class="product-page">
        <div class="row goods-block">
            <div class="col-xs-6 img-block">
                <div class="product-main-image" style="position: relative; overflow: hidden;">
                    <a href="__ROOT__/public/images/603032519f2a.jpg" target="_blank">
                        <img src="__ROOT__/public/images/603032519f2a.jpg" alt="ZTE中兴 天机7 A2017(全网通)">
                    </a>
                <img src="__ROOT__/public/images/603032519f2a.jpg" class="zoomImg" style="position: absolute; top: -313px; left: -399.5px; opacity: 0; width: 800px; height: 800px; border: none; max-width: none; max-height: none;"></div>
                
                <div class="pic-slide">
                    <div class="prev">
                        <img height="50" src="__ROOT__/public/images/left-1.png">
                    </div>
                    <div class="pic-list">
                        <ul class="product-other-images list-inline">
                                                        <li class="current">
                                <a href="__ROOT__/public/images/603032519f2a.jpg" data-middlesrc="//res.myzte.com/63/67/603032519f2a.jpg?90661_OW800_OH800" target="_blank">
                                    <img height="50" src="__ROOT__/public/images/603032519f2a.jpg">
                                </a>
                                <span class="pointer"></span>
                            </li>
                                                        <li>
                                <a href="https://res.myzte.com/81/f5/f61206bc58f7.jpg?05719_OW800_OH800" data-middlesrc="//res.myzte.com/81/f5/f61206bc58f7.jpg?05719_OW800_OH800" target="_blank">
                                    <img height="50" src="__ROOT__/public/images/f61206bc58f7.jpg">
                                </a>
                                <span class="pointer"></span>
                            </li>
                                                        <li>
                                <a href="https://res.myzte.com/07/4a/467676bcb7d3.jpg?05744_OW800_OH800" data-middlesrc="//res.myzte.com/07/4a/467676bcb7d3.jpg?05744_OW800_OH800" target="_blank">
                                    <img height="50" src="__ROOT__/public/images/467676bcb7d3.jpg">
                                </a>
                                <span class="pointer"></span>
                            </li>
                                                        <li>
                                <a href="https://res.myzte.com/b3/b2/b032b6944041.jpg?05744_OW800_OH800" data-middlesrc="//res.myzte.com/b3/b2/b032b6944041.jpg?05744_OW800_OH800" target="_blank">
                                    <img height="50" src="__ROOT__/public/images/b032b6944041.jpg">
                                </a>
                                <span class="pointer"></span>
                            </li>
                                                        <li>
                                <a href="https://res.myzte.com/34/26/2b4c3920c5a2.jpg?05744_OW800_OH800" data-middlesrc="//res.myzte.com/34/26/2b4c3920c5a2.jpg?05744_OW800_OH800" target="_blank">
                                    <img height="50" src="__ROOT__/public/images/2b4c3920c5a2.jpg">
                                </a>
                                <span class="pointer"></span>
                            </li>
                                                        <li>
                                <a href="https://res.myzte.com/9a/93/9aa41f10e5e8.jpg?05744_OW800_OH800" data-middlesrc="//res.myzte.com/9a/93/9aa41f10e5e8.jpg?05744_OW800_OH800" target="_blank">
                                    <img height="50" src="__ROOT__/public/images/9aa41f10e5e8.jpg">
                                </a>
                                <span class="pointer"></span>
                            </li>
                                                        <li>
                                <a href="https://res.myzte.com/aa/64/61a4a423ad8c.jpg?05743_OW800_OH800" data-middlesrc="//res.myzte.com/aa/64/61a4a423ad8c.jpg?05743_OW800_OH800" target="_blank">
                                    <img height="50" src="__ROOT__/public/images/61a4a423ad8c.jpg">
                                </a>
                                <span class="pointer"></span>
                            </li>
                                                    </ul>
                    </div>
                    <div class="next">
                        <img height="50" src="__ROOT__/public/images/right-1.png">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 goods-detail-block">
                <h1>
                    ZTE中兴 天机7 A2017(全网通)<br>
                    <small>斯坦灰/全网通/4GB+64GB</small>
                </h1>
                
                <div class="description text-danger">
                    <p>5.5英寸2K屏，骁龙820，HiFi双芯片+双音腔+立体环绕，荣获IFA“音效突破智能手机”奖！</p>
                </div>
                <div class="price-availability-block clearfix">
                    <span class="price text-danger">
                        <small>￥</small><strong>3099.0</strong>
                    </span>
                </div>

                <hr style="margin-bottom: 8px;">
                

                
                                <!-- 规格选择器 -->
                <div class="product-spec-options">
                    <dl class="dl-horizontal" style="overflow: hidden;">
                                                <!-- <dt>颜色 : </dt> -->
                        <div class="opt-inner">
                            <label style="margin-top: 2px;">颜色<span></span></label>
                            <span class="fl" style="margin-top: 2px;">:</span>
                            <dd class="fl">
                                                                <ul class="list-inline ps-opt-sel">
                                                                            <li class="current ">
                                                                                        <span style="width: auto; height: 22px; line-height: 22px; padding: 0px 5px;">
                                                斯坦灰                                            </span>
                                                                                    </li>
                                                                            <li class="">
                                                                                        <a href="https://www.myzte.com/item-2163.html" style="width: auto; height: 22px; line-height: 22px; padding: 0px 5px;">
                                                郎朗签名版                                            </a>
                                                                                    </li>
                                                                    </ul>
                            </dd>
                        </div>
                                                <!-- <dt>制式 : </dt> -->
                        <div class="opt-inner">
                            <label style="margin-top: 2px;">制式<span></span></label>
                            <span class="fl" style="margin-top: 2px;">:</span>
                            <dd class="fl">
                                                                <ul class="list-inline ps-opt-sel">
                                                                            <li class="current ">
                                                                                        <span style="width: auto; height: 22px; line-height: 22px; padding: 0px 5px;">
                                                全网通                                            </span>
                                                                                    </li>
                                                                    </ul>
                            </dd>
                        </div>
                                                <!-- <dt>版本 : </dt> -->
                        <div class="opt-inner">
                            <label style="margin-top: 2px;">版本<span></span></label>
                            <span class="fl" style="margin-top: 2px;">:</span>
                            <dd class="fl">
                                                                <ul class="list-inline ps-opt-sel">
                                                                            <li class="current ">
                                                                                        <span style="width: auto; height: 22px; line-height: 22px; padding: 0px 5px;">
                                                4GB+64GB                                            </span>
                                                                                    </li>
                                                                    </ul>
                            </dd>
                        </div>
                                            </dl>
                </div>
                
                
              
                                <div class="buy-area">
                   

<div class="product-page-cart" id="J_package_buy_area">
    <div class="product-quantity input-group" style="width:150px;" data-minibuy="">
        <div class="spinner-buttons input-group-btn">
            <button type="button" class="btn btn-default">
            -
            </button>
        </div>
        <input type="text" class="spinner-input form-control" value="1">
        <div class="spinner-buttons input-group-btn">
            <button type="button" class="btn btn-default ">
            +
            </button>
        </div>
    </div>
    <hr>
    <a class="btn btn-danger btn-lg btn-buy" href="__APP__/JoinCar/index" id="J_package_buy" data-url="/cart-add-2071-1.html">加入购物车</a>
    <a class="btn btn-success btn-lg btn-buy J_package_fastbuy" href="__APP__/ShopCar/index" id="J_package_fastbuy" data-url="/cart-fastbuy-2071-1.html">立即购买</a>
    <a href="javascript:;" id="QR_code_buy">
        <img src="__ROOT__/public/images/ewm.png" alt="">
        扫码购买
        <div class="ewm-img-block">
        <img src="__ROOT__/public/images/5" class="x-qrcode">        </div>
    </a>
    <a class="btn btn-link btn-lg favorite-button disabled" href="https://www.myzte.com/my-favorite-add-1905.html">
        <img src="__ROOT__/public/images/heart_state1.png" alt="">
        <small>喜欢<em> (230)</em></small>
    </a>
</div><br><div class="alert alert-warning">无库存</div>

                </div>
                               
            </div>
        </div>
        <div class="row goods-introduce" style="padding-right:150px">
            <div class="col-xs-12">

                <div class="product-page-content">
                    <div class="hot-goods">
                        <div class="hot-title">热销商品排行</div>
                        <ul class="list-unstyled clearfix hotsail-list"><li><div class="hot-goods-img"><a href="https://www.myzte.com/item-2071.html"><img src="__ROOT__/public/images/603032519f2a.jpg"></a></div><div class="hot-goods-name"><a href="https://www.myzte.com/item-2071.html">ZTE中兴 天机7 A2017(全网通)</a></div><div class="hot-goods-pri">￥3099.0</div></li><li><div class="hot-goods-img"><a href="https://www.myzte.com/item-1993.html"><img src="__ROOT__/public/images/f20c28b82ac8.jpg"></a></div><div class="hot-goods-name"><a href="https://www.myzte.com/item-1993.html">ZTE中兴 AXON天机 MAX C2016</a></div><div class="hot-goods-pri">￥2799.0</div></li><li><div class="hot-goods-img"><a href="https://www.myzte.com/6934933090279.html"><img src="__ROOT__/public/images/3030a1695040.jpg"></a></div><div class="hot-goods-name"><a href="https://www.myzte.com/6934933090279.html">ZTE中兴 AXON天机 A2015 智尊版 （4G全网通）</a></div><div class="hot-goods-pri">￥2999.0</div></li></ul>
                    </div>
                    <div class="clearfix pull-left" style="width:750px">
                        <ul id="pp_tabs" class="nav nav-tabs">
                            <li class="active"><a href="https://www.myzte.com/item-2071.html#desc" data-toggle="tab">产品介绍</a></li>
                            <li><a href="https://www.myzte.com/item-2071.html#parameter" data-toggle="tab">规格参数</a></li>
                            <li><a href="https://www.myzte.com/item-2071.html#comment" data-toggle="tab">用户评论 (1211)</a></li>
                            <li><a href="https://www.myzte.com/item-2071.html#question" data-toggle="tab">产品咨询</a></li>
                                                        
                         </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="desc">
                                <div class="description">
                                                                                                                                                                <img src="__ROOT__/public/images/e85c7611d4dd.jpg">
<img src="__ROOT__/public/images/912454fc3a94.jpg">
<img src="__ROOT__/public/images/62a6757a649c.jpg">
<img src="__ROOT__/public/images/cddd1ac97c23.jpg">
<img src="__ROOT__/public/images/d3b935014f2c.jpg">
<img src="__ROOT__/public/images/5a1bbb3cebd6.jpg">
<img src="__ROOT__/public/images/702c0c15a70f.jpg">
<img src="__ROOT__/public/images/a7866a9b45fc.jpg">
<img src="__ROOT__/public/images/350703cc5347.jpg">
<img src="__ROOT__/public/images/f266c521ee69.jpg">
<img src="__ROOT__/public/images/2ce3dee14c10.jpg">
<img src="__ROOT__/public/images/e653a1be0410.jpg">
<img src="__ROOT__/public/images/5ef8a273a1db.jpg">
<img src="__ROOT__/public/images/93b0f94ab1a0.jpg">
<img src="__ROOT__/public/images/7034f511ab41.jpg"> 
<img src="__ROOT__/public/images/95f2db62c471.jpg">
<img src="__ROOT__/public/images/179ddac6e66e.jpg">
<img src="__ROOT__/public/images/955128c639a6.jpg">
<img src="__ROOT__/public/images/0fd8ff772cfc.jpg">
<img src="__ROOT__/public/images/7df8ce1231db.jpg">                                </div>
                            </div>
                            <div class="tab-pane fade" id="parameter">
                                <!-- 商品参数 -->
                                <div class="detail-parameter">
                                    <div class="fl para-pic">
                                        <!-- 一张商品正面图 -->
                                        <!-- <img src="//res.myzte.com/63/67/603032519f2a.jpg?90661_OW800_OH800"> -->
                                        主体
                                    </div>
                                    <div class="fl para-text">
                                        <ul>
                                            <!-- 循环商品参数 -->
                                            <li>
                                                <span>商品名称</span>
                                                ZTE中兴 天机7 A2017(全网通)                                            </li>
                                            <li>
                                                <span>商品品牌</span>
                                                ZTE中兴                                            </li>
                                            <li>
                                                <span>商品分类</span>
                                                天机系列                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                                                    <div class="row detailparam-info">
                                        <div class="col-xs-6">
                                            <div class="info-warp">
                                                                                            <div class="detail-cate">CPU及操作系统</div>
                                                <div class="detail-item">
                                                    <table class="table table-inner">
                                                                                                                <tbody><tr>
                                                            <td class="item-key">CPU型号:</td>
                                                            <td class="item-value">骁龙820</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">CPU频率:</td>
                                                            <td class="item-value">2.15GHz</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">CPU核数:</td>
                                                            <td class="item-value">四核</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">操作系统:</td>
                                                            <td class="item-value">Android 6.0</td>
                                                        </tr>
                                                                                                            </tbody></table>
                                                </div>
                                                                                            <div class="detail-cate">网络</div>
                                                <div class="detail-item">
                                                    <table class="table table-inner">
                                                                                                                <tbody><tr>
                                                            <td class="item-key">4G网络制式:</td>
                                                            <td class="item-value">移动4G/联通4G/电信4G</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">3G网络制式:</td>
                                                            <td class="item-value">移动3G(TD-SCDMA)/联通3G(WCDMA)/电信3G(CDMA2000)</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">2G网络制式:</td>
                                                            <td class="item-value">移动2G/联通2G(GSM)/电信2G(CDMA)</td>
                                                        </tr>
                                                                                                            </tbody></table>
                                                </div>
                                                                                            <div class="detail-cate">存储</div>
                                                <div class="detail-item">
                                                    <table class="table table-inner">
                                                                                                                <tbody><tr>
                                                            <td class="item-key">运行内存（RAM）:</td>
                                                            <td class="item-value">4GB(标配高配)/6GB（顶配）</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">机身内存（ROM）:</td>
                                                            <td class="item-value">64GB(标配)/128GB（高配顶配）</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">存储卡类型:</td>
                                                            <td class="item-value">MicroSD(TF)</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">最大支持扩展:</td>
                                                            <td class="item-value">128G</td>
                                                        </tr>
                                                                                                            </tbody></table>
                                                </div>
                                                                                            <div class="detail-cate">显示</div>
                                                <div class="detail-item">
                                                    <table class="table table-inner">
                                                                                                                <tbody><tr>
                                                            <td class="item-key">屏幕尺寸:</td>
                                                            <td class="item-value">5.5英寸</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">屏幕材质:</td>
                                                            <td class="item-value">AMOLED</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">分辨率:</td>
                                                            <td class="item-value">2560*1440(2K)</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">触摸屏:</td>
                                                            <td class="item-value">电容屏（顶配为3D压力电容屏）</td>
                                                        </tr>
                                                                                                            </tbody></table>
                                                </div>
                                                                                            <div class="detail-cate">感应器</div>
                                                <div class="detail-item">
                                                    <table class="table table-inner">
                                                                                                                <tbody><tr>
                                                            <td class="item-key">GPS模块:</td>
                                                            <td class="item-value">支持</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">重力感应:</td>
                                                            <td class="item-value">支持</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">光线感应:</td>
                                                            <td class="item-value">支持</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">距离感应:</td>
                                                            <td class="item-value">支持</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">电子罗盘:</td>
                                                            <td class="item-value">支持</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">陀螺仪:</td>
                                                            <td class="item-value">支持</td>
                                                        </tr>
                                                                                                            </tbody></table>
                                                </div>
                                                                                            <div class="detail-cate">摄像功能</div>
                                                <div class="detail-item">
                                                    <table class="table table-inner">
                                                                                                                <tbody><tr>
                                                            <td class="item-key">主摄像头:</td>
                                                            <td class="item-value">2000万</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">副摄像头:</td>
                                                            <td class="item-value">800万</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">闪光灯:</td>
                                                            <td class="item-value">LED补光灯</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">其他:</td>
                                                            <td class="item-value">光学防抖丨电子防抖丨图像补偿丨自动对焦</td>
                                                        </tr>
                                                                                                            </tbody></table>
                                                </div>
                                                                                            <div class="detail-cate">传输功能</div>
                                                <div class="detail-item">
                                                    <table class="table table-inner">
                                                                                                                <tbody><tr>
                                                            <td class="item-key">WIFI:</td>
                                                            <td class="item-value">支持</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">蓝牙:</td>
                                                            <td class="item-value">支持</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">WIFI热点:</td>
                                                            <td class="item-value">支持</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">OTG:</td>
                                                            <td class="item-value">支持</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">NFC(近场通讯):</td>
                                                            <td class="item-value">支持</td>
                                                        </tr>
                                                                                                            </tbody></table>
                                                </div>
                                                                                            <div class="detail-cate">其他</div>
                                                <div class="detail-item">
                                                    <table class="table table-inner">
                                                                                                                <tbody><tr>
                                                            <td class="item-key">SIM卡尺寸:</td>
                                                            <td class="item-value">Nano SIM卡+Nano SIM卡（和SD卡共槽位）</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">电池类型:</td>
                                                            <td class="item-value">锂电池</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">电池容量（mAh）:</td>
                                                            <td class="item-value">3250</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">数据线:</td>
                                                            <td class="item-value">USB Type-C</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">耳机接口:</td>
                                                            <td class="item-value">3.5mm</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">机身尺寸（mm）:</td>
                                                            <td class="item-value">151.7*75*7.9mm</td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td class="item-key">机身材质:</td>
                                                            <td class="item-value">金属后盖</td>
                                                        </tr>
                                                                                                            </tbody></table>
                                                </div>
                                                                                        </div>
                                        </div>
                                    </div>
                                                            </div>
                            <div class="tab-pane fade" id="comment">

                            </div>
                            <div class="tab-pane fade" id="question">
                                <div class="well question-block">
                                    <div class="consult-search clearfix">
                                        <div class="form-group pull-left">
                                            <!-- <label class="sr-only" for="name">咨询</label> -->
                                            <input type="text" class="form-control" id="keyword" placeholder="请输入你的问题">
                                        </div>
                                        <div class="submit-button pull-left">
                                            <button type="submit" class="btn btn-default">提交问题</button>
                                        </div>
                                    </div>
                                    <h5 class="questions-number">共&nbsp;0&nbsp;个问题</h5>
                                    <div class="consult-block"></div>
                                    <div class="more-questions" style="display: none;">
                                        <a href="javascript:;">查看更多&gt;</a>
                                    </div>
                                </div>
                            </div>
                            <!-- 你可能感兴趣的商品 -->
                            <div class="goods-rel-items hide">
                                <h4>你可能感兴趣的商品</h4>
                                <div class="goodslist-warp">
                                    <a class="control prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                    <div class="row glist-container">
                                    </div>
                                    <a class="control next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="question_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body question-content">
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- 优惠券模态框 -->
<div class="modal fade coupons-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="coupons-block">
            <ul class="list-unstyled coupons-list clearfix">
            <li class="coupons-li"><div class="coupon-outer clearfix"><div class="left-block"><h1>￥800-天机7</h1><div class="coupons-desc">限时优惠</div><div class="coupons-date">2017.04.21-2017.06.01</div></div><div class="right-block"><a class="coupons" href="https://www.myzte.com/index.php/openapi/cpns/get_cpns/cpns_id/148">领取</a></div></div></li></ul>
        </div>
      </div>
    </div>
  </div>
</div>
<textarea class="hide" id="related_tpl">    &lt;div class="col-xs-3"&gt;
        &lt;div class="thumbnail goods-item"&gt;
            &lt;div class="gi-image-wrapper"&gt;
                &lt;a href="{product.item_url}"&gt;
                    &lt;img src="{image}" alt="{name}"&gt;
                &lt;/a&gt;
            &lt;/div&gt;
            &lt;div class="caption"&gt;
                &lt;h3 class="g-name"&gt;&lt;a href="{product.item_url}"&gt;{name}&lt;/a&gt;&lt;/h3&gt;
                &lt;ul class="list-inline"&gt;
                    &lt;li class="price-1 text-danger"&gt;&lt;small&gt;￥&lt;/small&gt;{product.buy_price}&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
</textarea>
<input type="hidden" value="0" name="is_operator">
<input type="hidden" value="0" name="package_pid">

<script charset="utf-8">

        //可切换相关商品列表
        var alike_slide = function(){
            var likeitem_len = $('.goods-rel-items .glist-container .col-xs-3').length;
            $('.glist-container .col-xs-3:first-child').addClass('current');
            if(likeitem_len>4){
                $('.goodslist-warp .next').on("click",function(){
                    if($('.glist-container .col-xs-3:nth-child(4)').hasClass('current')){
                        return false;
                    }else{
                        $('.glist-container').stop().animate({"margin-left":"-230px"},200,function(){
                            $(this).css({"margin-left":"10px"}).find(".col-xs-3:first-child").appendTo(this);
                        });
                    }
                });
                $('.goodslist-warp .prev').on("click",function(){
                    if($('.glist-container .col-xs-3:first-child').hasClass('current')){
                        return false;
                    }else{
                        $('.glist-container').find(".col-xs-3:last-child").prependTo('.glist-container').css({"margin-left":"-290px"}).stop().animate({"margin-left":"0px"},200,function(){
                        });
                    }

                });
            }else{
                $('.goodslist-warp .control').css("opacity","0");
            }
        }

        //倒计时
        var remaining_time = function (intDiff,show_scope){
            if(!show_scope)return;
            setInterval((function(){
                var day=0,
                    hour=0,
                    minute=0,
                    second=0;//时间默认值
                if(intDiff > 0){
                    day = Math.floor(intDiff / (60 * 60 * 24));
                    hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                    minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                    second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                }
                if (day <= 9) day = '0' + day;
                if (hour <= 9) hour = '0' + hour;
                if (minute <= 9) minute = '0' + minute;
                if (second <= 9) second = '0' + second;
                show_scope.find('.day-show').html(day);
                show_scope.find('.hour-show').html(hour);
                show_scope.find('.minute-show').html(minute);
                show_scope.find('.second-show').html(second);
                intDiff--;
                return arguments.callee;
            })(), 1000);
        };


       
        


        //相册切换
        var enter_timer = 0;
        $('.product-other-images a').on('mouseenter',function(e,tout){
            var oli = $(this).closest('li'),middle_src = $(this).attr('data-middlesrc'),big_src=$(this).prop('href');
            if(!middle_src)return;
            clearTimeout(enter_timer);
            enter_timer = setTimeout(function(){
                $('.product-main-image img').prop('src',middle_src);
                $('.product-main-image a').prop('href',big_src).parent().zoom({url:big_src});
                $('.product-other-images li').removeClass('current');
                oli.addClass('current');
            },tout||500);
        });
        $('.product-other-images a').on('click',function(e){
            clearTimeout(enter_timer);
            $(this).trigger('mouseenter',[1]);
            return false;
        });
        $('.product-main-image a').parent().zoom({url:$('.product-main-image a').prop('href')});


        
       
                
        
      
       
        /**
         * 切换tab
         */
         $('#pp_tabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
             var pane_sel =  $(e.target).attr('href');
             switch (pane_sel) {
                 case '#comment':
                     $(this).off('shown.bs.tab');
                     $(pane_sel).load('/comment-show-1905.html');
                     $(pane_sel).on('click','a',function(e){
                         e.stopPropagation();
                         //$(pane_sel).load(this.href);
                     });
                     break;
                case '#parameter':
                    //商品规格参数openAPI
                    $(this).off('shown.bs.tab');
                    var parameter = "https://www.myzte.com/index.php/openapi/goods/parameter/";
                    var product_id = "2071";
                    $.getJSON(parameter,{product_id:product_id},function(recv){
                    if(recv.result == 'success'){
                    var para = $('.para-text').find('ul');
                    var para_html = '';
                    var extend_li = '';
                    para_html += '<li><span>商品名称: </span>'+recv.data['product']['name']+'</li>' +
                    '<li><span>商品品牌: </span>'+recv.data['brand']['brand_name']+'</li>';
                    if(recv.data['product']['spec_info']){
                    para_html +='<li><span>商品规格: </span>'+recv.data['product']['spec_info']+'</li>' ;
                }
                    para_html += '<li><span>商品货号: </span>'+recv.data['product']['bn']+'</li>' +
                    '<li><span>重量: </span>'+recv.data['product']['weight']+'</li>' +
                    '<li><span>单位: </span>'+recv.data['product']['unit']+'</li>';
                    if(recv.data['extends']){
                    for(var i = 0; i < recv.data['extends'].length; i++){
                    extend_li+='<li><span>'+recv.data['extends'][i]['label']+'</span>'+recv.data['extends'][i]['value']+'</li>' ;
                }
                }
                    para_html += extend_li;
                    para.html(para_html);
                }
                });
                    break;
             }
        })

    });
</script>
<!-- 商品小图上翻下翻 -->
<script type="text/javascript">
    $(document).ready(function(){
        var num_li = $('.product-other-images li').length;
        if(num_li>=5){
            $('.pic-slide .next').on("click",function(){
                $('.product-other-images').animate({"margin-left":"-74px"},200,function(){
                    $(this).css({"margin-left":"0px"}).find("li:first-child").appendTo(this);
                });
            });
            $('.pic-slide .prev').on("click",function(){
                $('.product-other-images').find("li:last-child").prependTo('.product-other-images').css({"margin-left":"-74px"}).animate({"margin-left":"0px"},200,function(){
                });
            });
        }else{
            return;
        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.product-spec-options dd').each(function(){
            var img_len = $(this).find('img').length;
            if(img_len==0){
                $(this).parent('.opt-inner').find('label,span.fl').css({
                    marginTop: '2px'
                });
                $(this).find('.ps-opt-sel').find('a,span').css({
                    width: 'auto',
                    height: '22px',
                    lineHeight:'22px',
                    padding:'0 5px'
                });
            }
        })
    });
</script>

<script>

    $(function(){
        $('#comment').on('click','.pagination a',function(e){
            var path = $(this).attr('href');
            $.get(path,{mark_star:comment_star}, function(data) {

                $('#comment').html(data);
            });
            return false;
        })
    })
    $('.pagination').children('li').click(function(event) {
        event.preventDefault();
        alert(event.type);
        return false;
        var path = $(this).children('a').attr('src');

        $.post(path, {param1: 'value1'}, function(data, textStatus, xhr) {
            /*optional stuff to do after success */
        });
    });
</script>

<script>
    $(function(){
        var product_id = "2071";
        $("input[name=set_meal_type_name]").each(function(){
            $(this).on('change',function(){
                $.post('/item-get_list_by_ajax.html',{product_id:product_id,type_id:$(this).val()},function(re){
                    $('#operators').html(re);
                });
            });
        });
    });
</script>



<script>
    //扫码购买
    $(function(){
        $('#QR_code_buy').mouseenter(function(event) {
            if ($('.ewm-img-block').is(":animated")) {
                event.preventDefault();
            }else{
                $('.ewm-img-block').slideDown('400');
            }
        }).mouseleave(function(event) {
            if ($('.ewm-img-block').is(":animated")) {
                event.preventDefault();
            }else{
                $('.ewm-img-block').slideUp('400');
            }
        });
    })
</script>
<script>
    $('#comment').on('click', '.pagination a', function(event) {
        event.preventDefault();
        window.location.href = '#comment';
    });
</script>

<script>
    var commnet_url = '/comment-show-1905.html';
    $('body').on('change' ,'input[name="mark_star"]' ,function(e){
        comment_star = $(this).val();
        $('#comment').load('/comment-show-1905.html?mark_star='+$(this).val());
    });
</script>
<script>
     (function(){
         $.ajax({
             'url':'https://www.myzte.com/index.php/openapi/cpns/cpns_list?goods_id=1905',
             'success':function(re){
                 if(re.result == 'success' && re.data.length > 0){
                     $('<div class="get-coupons"><dl class="dl-horizontal" style="margin-bottom: 8px;"><label>领 优 惠 券:&nbsp;</label> &nbsp;<a href="javascript:;" style="color:red" id="get_coupons">领取优惠券>></a></dl></div>').insertAfter($('.old-new'));
                     $.each(re.data,function(idx,val){

                         var coupons_list = '';

                         if(re.data[idx].image_id != null){
                             coupons_list +='<li class="coupons-li-img">'+
                                                 '<a href="'+'https://www.myzte.com/index.php/openapi/cpns/get_cpns/cpns_id/'+re.data[idx].cpns_id+'" class="coupons">'+
                                                     '<img src="'+re.data[idx].image_url+'">'+
                                                 '</a>'+
                                             '</li>';
                         }else{
                             coupons_list += '<li class="coupons-li">'+
                                 '<div class="coupon-outer clearfix">'+
                                     '<div class="left-block">'+
                                         '<h1>'+re.data[idx].cpns_name+'</h1>'+
                                         '<div class="coupons-desc">'+re.data[idx].description+'</div>'+
                                         '<div class="coupons-date">'+re.data[idx].from_time+'-'+re.data[idx].to_time+'</div>'+
                                     '</div>'+
                                     '<div class="right-block">'+
                                         '<a class="coupons" href="'+'https://www.myzte.com/index.php/openapi/cpns/get_cpns/cpns_id/'+re.data[idx].cpns_id+'">'+'领取</a>'+
                                     '</div>'+
                                 '</div>'+
                             '</li>';
                         }
                         $('.coupons-list').append(coupons_list);

                     })
                 }
             }
         });

         
     })();
   
</script>
</div>
<include file="Public:footer"/>


</body></html>