<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>商城首页</title>
   

   

   
   	<script type="text/javascript" src="__ROOT__/public/js/jquery.min.js"></script>
     <script type="text/javascript" src="__ROOT__/public/js/unslider.min.js"></script>
    <body class="index-body">
    <include file="Public:header"/>

        <div class="page-index">
           
           
           
           
           
           
           
            
            <!-- 轮播图 -->
           

<include file="Public:banner"/>


            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
           
            <div class="zx-block">
                <div class="zx-goods-block">
                    <div class="zx-title-block">
                        <div class="zx-title-name">
                            <span>今日抢购</span><span class="zx-title-name-span">最新折扣单品</span>
                        </div>
                    </div>
                    <div class="zx-goods">
                        <ul class="list-unstyled clearfix qg-ul">
                            <li class="pull-left qg-list">
                                <div class="qg-block">
    <a href="https://www.myzte.com/6902176008580.html" target="_blank"><img src="__ROOT__/public/images/1cb0a8233557.jpg" alt=""></a>
</div>
<div class="left-time-item">		
    <span id="hour_show"><s id="h"></s>12</span>
	<span class="span-fh">:</span>
	<span id="minute_show"><s></s>12</span>
	<span class="span-fh">:</span>
	<span id="second_show"><s></s>30</span>
</div>
                            </li> 
							<li class="pull-left qg-list">
                                <div class="qg-block">
    <a href="https://www.myzte.com/6934933095359.html" target="_blank"><img src="__ROOT__/public/images/7578f1cffd2f.jpg" alt=""></a>
</div>
<div class="right-time-item">		
	<span id="hour_show2"><s id="h"></s>12</span>
	<span class="span-fh">:</span>
	<span id="minute_show2"><s></s>12</span>
	<span class="span-fh">:</span>
	<span id="second_show2"><s></s>30</span>
</div>
                            </li>
                        </ul>
                        <div class="zx-ad-banner hide">
                            <a href="https://www.myzte.com/item-867.html" target="_blank"><img src="__ROOT__/public/images/bannerA.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
			 
            

            <div class="zx-block">
                <div class="zx-goods-block">
                    <div class="zx-title-block">
                        <div class="zx-title-name">
                            <span>手机专区</span><span class="zx-title-name-span">中兴精品手机</span>
                        </div>
                    </div>
                    <div class="zx-goods">
                        <ul class="list-unstyled clearfix">
                            <li class="pull-left">
                                <div class="mobile-banner">
    <a href="https://www.myzte.com/v8.html" target="_blank"><img src="__ROOT__/public/images/f6243e08e49c.jpg" alt=""></a>
</div>
                            </li>
                                <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/item-2071.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/f61206bc58f7.jpg" alt="">
					                </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>天机7 A2017(全网通)</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                        <span class="new-pri">￥<strong>3099.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/6902176008580.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/d3f465b4d2e1.jpg" alt="">
					                          
						  <div class="tips tips-blue">                             
							<span>热卖</span>                          
						  </div>                          
						                  </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>天机7 MAX(全网通)</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                        <span class="new-pri">￥<strong>3299.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/6902176009532.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/fe8d3d405ec3.jpg" alt="">
					                </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>Blade A2 Plus 全网通</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                        <span class="new-pri">￥<strong>849.0</strong></span>
                                        <span class="old-pri">￥899.0</span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/6902176003141.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/751e0fed81a6.jpg" alt="">
					                </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>Blade A2 国民指纹手机</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                        <span class="new-pri">￥<strong>629.0</strong></span>
                                        <span class="old-pri">￥699.0</span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/6902176002823.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/beadfccccd51.jpg" alt="">
					                </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>ZTE中兴 V7 MAX</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                        <span class="new-pri">￥<strong>1799.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="#" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/0924119cae73.jpg" alt="">
					                </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>ZTE中兴 A910</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                        <span class="new-pri">￥<strong>1299.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
                        </ul>
                        <div class="zx-ad-banner hide">
                            <a href="#" target="_blank"><img src="__ROOT__/public/images/bannerA.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="zx-block">
                <div class="zx-goods-block">
                    <div class="zx-title-block">
                        <div class="zx-title-name">
                            <span>配件专区</span><span class="zx-title-name-span">精品手机配件</span>
                        </div>
                        <div class="zx-more">
                            <ul class="list-unstyled clearfix">
                                <li class="zx-more-fenlei active" id="tab1">
                                    <a href="javascript:void(0)">耳机</a>
                                </li>
                                <li class="zx-more-fenlei" id="tab2">
                                    <a href="#">充电宝</a>
                                </li>
                                <li class="zx-more-fenlei" id="tab3">
                                    <a href="#">壳膜套</a>
                                </li>
                            </ul>
                            <a href="__APP__/AllGoods/index">
                                <span>更多</span>
                                <img src="__ROOT__/public/images/look-all.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="zx-goods">
					      
                        <ul class="list-unstyled clearfix content" id="content1">
                            <li class="pull-left">
                                <div class="mobile-banner">
    <a href="#" target="_blank"><img src="__ROOT__/public/images/5ca675c83289.jpg" alt=""></a>
</div>
                            </li>
                                <li class="pull-left">
        <div class="sale-block">
            <a href="#" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/24ad35c0e51d.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>D1智能手表</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>899.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="#" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/6cdc9defc2b5.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>智能心率手环</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>299.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="#" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/aefa339bd5b3.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6> 蘑菇蓝牙音箱</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>49.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="#" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/e49ded580c8a.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>小球音箱 S201</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>49.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="#" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/1c7f7132ef7b.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>竹韵耳机 SOH3506</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>79.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="#" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/3732b2aa466b.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>10000mAh移动电源 P100 </h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>79.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
                        </ul>
                        
                        <ul class="list-unstyled clearfix content" id="content2" style="display:none;">
                            <li class="pull-left">
                                                            </li>
                                <li class="pull-left">
        <div class="sale-block">
            <a href="#" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/ab6b1cc6f4e0.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>10000mAh移动电源 P100</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>79.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/item-1594.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/17821aa773c2.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>5000mAh移动电源 P60 </h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>99.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/item-2104.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/3361858f73c7.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>5000mAh移动电源 P42</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>59.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/item-1940.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/1e38f0caa072.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>2550mAh 卡片式移动电源 </h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>34.9</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
                        </ul>
                        
                        <ul class="list-unstyled clearfix content" id="content3" style="display:none;">
                                <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/item-1980.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/0441bc42b3d1.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>天机 7 TPU果冻套</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>29.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/item-1995.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/addc28ada55b.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>Blade A2 屏幕保护膜</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>15.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/item-1931.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/3580c5df8469.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>A910 TPU果冻套</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>29.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/item-1987.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/904a95898493.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>Blade A2 TPU保护套</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                       <span class="new-pri">￥<strong>29.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
                        </ul>
                        <div class="zx-ad-banner hide">
                            <a href="https://www.myzte.com/list.html"><img src="__ROOT__/public/images/bannerA.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="zx-block">
                <div class="zx-goods-block">
                    <div class="zx-title-block">
                        <div class="zx-title-name">
                            <span>智能硬件</span><span class="zx-title-name-span">上网必备</span>
                        </div>
                    </div>
                    <div class="zx-goods">
                        <ul class="list-unstyled clearfix content" id="content1">
                                <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/item-2148.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/644e192cba59.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>Spro 2 智能微投 （LTE版）</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                      <span class="new-pri">￥<strong>4699.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/6934933095359.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/c8a9c2c7d0a1.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>Spro 2 智能微投 （WIFI版）</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                      <span class="new-pri">￥<strong>3699.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/item-1735.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/667cc82342b6.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>Spro2 智能微投蓝牙遥控器</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                      <span class="new-pri">￥<strong>69.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
    <li class="pull-left">
        <div class="sale-block">
            <a href="https://www.myzte.com/item-1708.html" target="_blank">
                <div class="sale-goods-img">
                    <img src="__ROOT__/public/images/9c158028f174.jpg" alt="">
                                     </div>
                <div class="sale-goods-miaoshu">
                    <div class="sale-goods-name">
                        <h6>Spro2 智能微投 微投包</h6>
                    </div>
                    <div class="sale-goods-ad">
                        <h6></h6>
                    </div>
                    <div class="sale-goods-pri">
                      <span class="new-pri">￥<strong>59.0</strong></span>
                                        </div>
                </div>
            </a>
        </div>
    </li>
                        </ul>
                    </div>
                    <div class="zx-ad-banner">
                            <a href="https://www.myzte.com/v8.html" target="_blank"><img src="__ROOT__/public/images/cdf5d6e5708c.jpg" alt=""></a>
                        </div>
                </div>
            </div>

        </div>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('.all-categories-detail').css("display","block");
            $('.all-categories').add('.all-categories-detail').on("mouseover mouseout",function(){
                $('.all-categories-detail').show();
            });
        });
    </script>
    <script type="text/javascript">
        (function(){
            //首页分类楼层商品切换选项卡
            var switch_tab = function(target_this,par_sec,index){
                par_sec.find('.zx-more-fenlei').removeClass('active');
                target_this.addClass('active');
                par_sec.find('.content').css("display","none");
                par_sec.find('#content'+index).css("display","block");
            }
            $('.zx-more-fenlei').on("mouseover",function(){
                var target_this = $(this);
                var index = this.id.replace('tab','');
                var par_sec = target_this.parents('.zx-block');
                switch_tab(target_this,par_sec,index);
            });

        })();
    </script>
	

    
<include file="Public:footer"/>

</body>
</html>