<!DOCTYPE html>

<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>全部分类</title>
<meta content="手机_智能终端_耳机 / 音箱_数据线 / 电源适配器_保护套 / 后盖 / 贴膜_移动电源/存储卡_服务及周边,ZTE中兴_ZTE B760H" name="keywords">
<meta content="全部分类,ZTE中兴_ZTE B760H" name="description">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<script src="__ROOT__/public/js/hm.js"></script><script src="__ROOT__/public/js/hm.js"></script><script src="__ROOT__/public/js/compatible.js"></script>
<link href="__ROOT__/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="__ROOT__/public/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__ROOT__/public/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="__ROOT__/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<!--site header common-->

<link rel="stylesheet" href="__ROOT__/public/css/theme.css">
<link rel="stylesheet" href="__ROOT__/public/css/public.css">
<link rel="stylesheet" href="__ROOT__/public/css/shop.css">
<script src="__ROOT__/public/js/public.js"></script>
</head>
<body class="general-body">
<header>
<include file="Public:header"/>
</header>

<div class="container main-container">
    <!--普通商品列表页 grid-->
<div class="glist-container">
        <div class="panel panel-default gfilter">
      <div class="panel-body" style="height:56px">
          
      </div>
    </div>
        <div class="goods-list" style="margin-bottom:100px">
        <div class="panel panel-default panel-inner">
          <div class="panel-heading">
                  <div class="form-inline clearfix" role="search">
                      <div class="btn-group order-btn btn-sm" role="group" aria-label="...">
                        <a class="paixu" href="javascript:;">
                              排序 :
                          </a>
                          <a class="btn-danger" href="#">
                              默认
                          </a>
                          <a class="btn-default" href="#">
                              新品
                          </a>
                                                    <a class="btn-default" href="#">价格</a>
                                                    <a class="btn-default" href="#">
                              销量
                          </a>
                          <a class="no-border btn-default" href="#">
                              评论
                          </a>
                          <!-- <a class="btn  btn-sm btn-default" href="/list.html?orderby=uptime-desc">
                              上架时间
                              <i class="glyphicon glyphicon-sort-by-order-alt"></i>
                           </a> -->
                      </div>
                        <!-- <input type="text" id="input_keyword" class="form-control input-sm input-small" placeholder="在结果中搜索">
                        <button type="button" data-action="/list.html?" onclick="location=$(this).attr('data-action')+'&keyword='+$('#input_keyword').val()" class="btn btn-sm btn-default">确定</button> -->
                      
                  </div>
            </div>
        </div>

        
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      <div class="row goods-list gl-default">
        
        
        
                          
              
              
              
              
                            <div class="col-xs-3 gl-cx3">
                <div class="thumbnail goods-item">
                                            <div class="tips tips-blue">
                           <span>热卖</span>
                        </div>
                                            <div class="gi-image-wrapper">
                        <a href="#">
                            <img src="__ROOT__/public/images/d3f465b4d2e1.jpg" alt="ZTE中兴 天机7 MAX(全网通)">
                        </a>
                    </div>
                  <div class="caption">
                    <h3 class="g-name">
                        <a href="#">ZTE中兴 天机7 MAX(全网通)</a>
                    </h3>
                    <ul class="list-inline">
                      <!-- <li class="price-1 text-danger">¥3299.0</li>  -->
                                            <li class="price-1 text-danger">¥3299.0</li>
                                          </ul>
                    <!-- <h3 class="pinglun-number hide">
                    3205人好评
                                            </h3> -->
                  </div>
                </div>
              </div>
              
                            <div class="col-xs-3 gl-cx3">
                <div class="thumbnail goods-item">
                                        <div class="gi-image-wrapper">
                        <a href="https://www.myzte.com/item-2071.html">
                            <img src="__ROOT__/public/images/603032519f2a.jpg" alt="ZTE中兴 天机7 A2017(全网通)">
                        </a>
                    </div>
                  <div class="caption">
                    <h3 class="g-name">
                        <a href="https://www.myzte.com/item-2071.html">ZTE中兴 天机7 A2017(全网通)</a>
                    </h3>
                    <ul class="list-inline">
                      <!-- <li class="price-1 text-danger">¥3099.0</li>  -->
                                            <li class="price-1 text-danger">¥3099.0</li>
                                          </ul>
                    <!-- <h3 class="pinglun-number hide">
                    1189人好评
                                            </h3> -->
                  </div>
                </div>
              </div>
                            
                            
                            
                            
                            
                            
                            
                            
                            <div class="col-xs-3 gl-cx3">
                <div class="thumbnail goods-item">
                                        <div class="gi-image-wrapper">
                        <a href="https://www.myzte.com/item-2138.html">
                            <img src="__ROOT__/public/images/bcbcd1af205e.jpg" alt="ZTE中兴 天机7 A2017 顶配版 (全网通)">
                        </a>
                    </div>
                  <div class="caption">
                    <h3 class="g-name">
                        <a href="https://www.myzte.com/item-2138.html">ZTE中兴 天机7 A2017 顶配版 (全网通)</a>
                    </h3>
                    <ul class="list-inline">
                      <!-- <li class="price-1 text-danger">¥4099.0</li>  -->
                                            <li class="price-1 text-danger">¥4099.0</li>
                                          </ul>
                    <!-- <h3 class="pinglun-number hide">
                                                    暂无评价
                                                </h3> -->
                  </div>
                </div>
              </div>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                      </div>
          <h5 class="text-danger">抱歉,没有找到您搜索的相关商品！</h5>
          <p><b>建议: </b>适当缩短您的关键词或修改关键词后重新搜索。</p>
          <p class="recommand-search">
            <b>搜索推荐:</b>
            <a href="javascript:void(0)" data-action="/list.html?" onclick="location=$(this).attr(&#39;data-action&#39;)+&#39;keyword=&#39;+&#39;智能手表&#39;">智能手表</a>
            <a href="javascript:void(0)" data-action="/list.html?" onclick="location=$(this).attr(&#39;data-action&#39;)+&#39;keyword=&#39;+&#39;天机&#39;">天机</a>
            <a href="javascript:void(0)" data-action="/list.html?" onclick="location=$(this).attr(&#39;data-action&#39;)+&#39;keyword=&#39;+&#39;智能微投&#39;">智能微投</a>
            <a href="javascript:void(0)" data-action="/list.html?" onclick="location=$(this).attr(&#39;data-action&#39;)+&#39;keyword=&#39;+&#39;耳机&#39;">耳机</a>
            <a href="javascript:void(0)" data-action="/list.html?" onclick="location=$(this).attr(&#39;data-action&#39;)+&#39;keyword=&#39;+&#39;平板&#39;">平板</a>
        </p></div>
    </div>
</div>
<script>
  $(document.body).addClass('general-body');
  $(".col-xs-3:nth-child(4n)").css('margin-right', '0');
  $(function(){
    var item_len = $('.goods-item').length;
    if(item_len==0){
      $('.blanklist-msg').css("display","block");
    }

    //列表／grid形式切换
    $('.btn-list').on('click', function() {
      var url = window.location.href;
      var params = 'tpl_type=list';
      if(url.indexOf('?')>0){
        var href = url + '&' + params;
        window.location.href=href;
      }else{
        var href = url + '?' + params;
        window.location.href=href;
      }
    });

  });
</script>
</div>
<div><include file="Public:footer"/></div>

</body></html>