<!DOCTYPE html>

<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>全部分类</title>
<meta content="手机_智能终端_耳机 / 音箱_数据线 / 电源适配器_保护套 / 后盖 / 贴膜_移动电源/存储卡_服务及周边,ZTE中兴_ZTE B760H" name="keywords">
<meta content="全部分类,ZTE中兴_ZTE B760H" name="description">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<script src="__ROOT__/public/js/hm.js"></script><script src="__ROOT__/public/js/hm.js"></script><script src="__ROOT__/public/js/compatible.js"></script>
<link href="__ROOT__/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="__ROOT__/public/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__ROOT__/public/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="__ROOT__/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<!--site header common-->

<link rel="stylesheet" href="__ROOT__/public/css/theme.css">
<link rel="stylesheet" href="__ROOT__/public/css/public.css">
<link rel="stylesheet" href="__ROOT__/public/css/shop.css">
<script src="__ROOT__/public/js/public.js"></script>
</head>
<body class="general-body">
<header>
<include file="Public:header"/>
</header>

<div class="container main-container">
    <!--普通商品列表页 grid-->
<div class="glist-container">
        <div class="panel panel-default gfilter">
      <div class="panel-body">
          <dl class="dl-horizontal gfilter-list">
                                <dt>
                      搜索结果 :
                  </dt>
                  
                        </dl>
      </div>
    </div>
        <div class="goods-list">
        

<div class="row goods-list gl-default">


                          <div class="col-xs-3 gl-cx3">
                <div class="thumbnail goods-item">
                                            <div class="tips tips-yellow">
                           <span>新品</span>
                        </div>
                                            <div class="gi-image-wrapper">
                        <a href="https://www.myzte.com/v8.html">
                            <img src="__ROOT__/public/images/7bb8a6b19652.jpg" alt="ZTE中兴 Blade V8 绝代双“焦”-仿生双摄+3D拍照">
                        </a>
                    </div>
                  <div class="caption">
                    <h3 class="g-name">
                        <a href="https://www.myzte.com/v8.html">ZTE中兴 Blade V8 绝代双“焦”-仿生双摄+3D拍照</a>
                    </h3>
                    <ul class="list-inline">
                     
                                            <li class="price-1 text-danger">¥1499.0</li>
                                            
                                          </ul>
                                          
                   
                  </div>
                </div>
              </div>
              
              
              
                            <div class="col-xs-3 gl-cx3" style="margin-right: 0px;">
                <div class="thumbnail goods-item">
                                        <div class="gi-image-wrapper">
                        <a href="https://www.myzte.com/item-2165.html">
                            <img src="__ROOT__/public/images/c4c1a98edc2a.png" alt="ZTE中兴 线控耳机 SOH3516">
                        </a>
                    </div>
                  <div class="caption">
                    <h3 class="g-name">
                        <a href="https://www.myzte.com/item-2165.html">ZTE中兴 线控耳机 SOH3516</a>
                    </h3>
                    <ul class="list-inline">
                      <!-- <li class="price-1 text-danger">¥49.0</li>  -->
                                            <li class="price-1 text-danger">¥49.0</li>
                                          </ul>
                  
                  </div>
                </div>
              </div>
                      </div>


        
        <ul class="pagination clearfix"><li class="prev disabled"><a href="javascript:;"><img src="__ROOT__/public/images/left_1.png" alt=""></a></li><li class="disabled"><a href="https://www.myzte.com/list.html?page=1">1</a></li><li><a href="https://www.myzte.com/list.html?page=2">2</a></li><li><a href="https://www.myzte.com/list.html?page=3">3</a></li><li><a href="https://www.myzte.com/list.html?page=4">4</a></li><li class="next"><a href="https://www.myzte.com/list.html?page=2"><img src="__ROOT__/public/images/right_1.png" alt=""></a></li></ul>        <div class="blanklist-msg">
          <h5 class="text-danger">抱歉,没有找到您搜索的相关商品！</h5>
          <p><b>建议: </b>适当缩短您的关键词或修改关键词后重新搜索。</p>
          <p class="recommand-search">
            <b>搜索推荐:</b>
            <a href="javascript:void(0)" data-action="/list.html?" onclick="location=$(this).attr(&#39;data-action&#39;)+&#39;keyword=&#39;+&#39;智能手表&#39;">智能手表</a>
            <a href="javascript:void(0)" data-action="/list.html?" onclick="location=$(this).attr(&#39;data-action&#39;)+&#39;keyword=&#39;+&#39;天机&#39;">天机</a>
            <a href="javascript:void(0)" data-action="/list.html?" onclick="location=$(this).attr(&#39;data-action&#39;)+&#39;keyword=&#39;+&#39;智能微投&#39;">智能微投</a>
            <a href="javascript:void(0)" data-action="/list.html?" onclick="location=$(this).attr(&#39;data-action&#39;)+&#39;keyword=&#39;+&#39;耳机&#39;">耳机</a>
            <a href="javascript:void(0)" data-action="/list.html?" onclick="location=$(this).attr(&#39;data-action&#39;)+&#39;keyword=&#39;+&#39;平板&#39;">平板</a>
        </p></div>
    </div>
</div>
<script>
  $(document.body).addClass('general-body');
  $(".col-xs-3:nth-child(4n)").css('margin-right', '0');
  $(function(){
    var item_len = $('.goods-item').length;
    if(item_len==0){
      $('.blanklist-msg').css("display","block");
    }

    //列表／grid形式切换
    $('.btn-list').on('click', function() {
      var url = window.location.href;
      var params = 'tpl_type=list';
      if(url.indexOf('?')>0){
        var href = url + '&' + params;
        window.location.href=href;
      }else{
        var href = url + '?' + params;
        window.location.href=href;
      }
    });

  });
</script>
</div>
<div><include file="Public:footer"/></div>

</body></html>